@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(33, 33, 38);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dGjUVZ{
  background-color: rgb(33, 33, 38) !important;
}

.sc-hKdnnL{
  background-color: rgba(33, 33, 38, 0.95) !important;
  color: white !important;
  font-size: 20px !important;
  font-weight: bold !important;
}